* {
  margin: 0;
}

:root {
  --primary-dark: #18181b;
  --primary-white: #fafafa;
}
body {
  background-color: var(--primary-dark);
}
.nav,
.foot {
  height: auto;
  width: 100vw;
  color: var(--primary-white);
  background-color: var(--primary-dark);
}

.navContainer,
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about,
.menu,
.bookNow {
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 10px 15px 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.logo {
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  margin-top: 10px;
  letter-spacing: 4px;
}

.footLogo {
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  letter-spacing: 4px;
}

/* footer styles */
.footContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook,
.instagram,
.other {
  height: 30px;
  width: 30px;
  border: 2px solid var(--primary-white);
  border-radius: 50%;
  margin: 10px;
}

.options {
  width: 162px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list {
  padding-right: 10px;
}

.privacy,
.legal,
.careers {
  font-size: 16px;
  letter-spacing: 1.6px;
}

.body {
  height: 100vh;
  background-color: var(--primary-white);
}

.bodyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 100%;
  flex: 3;
  display: flex;
  background-color: blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBlock {
  width: 100%;
  height: 100%;
}

.cardContainer {
  flex: 2;
}

/* animations */
.list:hover,
.logo,
.logo2,
.footLogo,
.bookNow,
.menu,
.about {
  cursor: pointer;
}

.privacy:hover,
.legal:hover,
.careers:hover {
  color: #a1a1aa;
  cursor: pointer;
  transition: 100ms;
}

.facebook:hover,
.instagram:hover,
.other:hover {
  height: 34px;
  width: 34px;
  margin: 8px;
  cursor: pointer;
}
.bookNow,
.menu,
.about {
  position: relative;
}
.bookNow::before,
.menu::before,
.about::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
}
.bookNow::after,
.menu::after,
.about::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
}
.bookNow:hover::before,
.menu:hover::before,
.about:hover::before {
  width: 180px;
  height: 43px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-white);
  border-top: none;
  border-right: none;
  transition: height 0.2s linear, width 0.4s linear 0.2s;
}
.bookNow:hover::after,
.menu:hover::after,
.about:hover::after {
  width: 180px;
  height: 43px;
  bottom: 10px;
  right: 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-white);
  border-bottom: none;
  border-left: none;
  transition: height 0.2s linear, width 0.4s linear 0.2s;
}

.triangle {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 15px solid var(--primary-white);
}
.triDown {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 15px solid var(--primary-white);
  align-self: center;
}

.foot {
  display: flex;
  flex-direction: column;
}

.triContainerLeft {
  align-self: flex-start;
  padding-left: 50px;
}
.triContainerRight {
  align-self: flex-end;
  padding-right: 50px;
}
